.node {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(199, 199, 199, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(199, 199, 199, 1);
    box-shadow: 5px 5px 10px 0px rgba(199, 199, 199, 1);

    padding: 24px 16px;
    background: #fff9c4;
    position: relative;
    height: 220px;
    width: 200px;
    font-size: 18px;

    .actions {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .content {
        &-todoDone {
            text-decoration: line-through;
        }
    }

    .editingArea {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 4px;

        textarea,
        button {
            background: #fff9c4;
            font-size: 18px;
            border: 2px solid #e5e5e5;
            padding: 4px 8px;
            border-radius: 4px;
        }

        textarea {
            height: 100%;
        }

    }
}